{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--{{ block.super }}       function which allows us to use any content that was defined inside a block in the parent template. -->


<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

<div class="container">
    <div class="row">
        <div class="col-md-12">
         
                <div class="test-image">
                    <div class="centered">
                        <p> Welcome to Pichalog </p>
                        <p> Enter a location to
                    </div>
                    <div class="image-overlay">
                    </div>
                </div>
        </div>
    </div>
</div>


{% endblock %}