{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ block.super }}
<!--function which allows us to use any content that was defined inside a block in the parent template.-->

<link rel="stylesheet" href="{% static 'css/search.css' %}">

<!-- Masonry based layouts for aligning images: Pinterest -->


<div class="col-md-12">
  <p><b>{{message}}</b></p>
</div>

<div class="masonry">
  <div class="item">
  {% for image in all_images %}

  <img src="{{image.image_path.url}}" alt="displayed Image">

  {% endfor %}
  </div>
</div>



{% endblock %}