{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ block.super }}
<!--function which allows us to use any content that was defined inside a block in the parent template.-->

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'css/search.css' %}">

<!-- Masonry based layouts for aligning images: Pinterest -->


  <div class="row">

  <div class="col-md-12">
    <p><b>{{message}}</b></p>
  </div>

  <div class="col-md-12">
  <div class="my_masonry">
    {% for image in all_images %}
    <div class="my_item">

    <a href="{{image.image_path.url}}" data-fancybox="images" data-caption="<h6>{{image.name}}</h6>  <p> {{image.description}}</p>   <p> Shot in- {{image.image_location}} </p>  
                  <button class='btn btn-outline-warning' onclick=copyLink('{{image.id}}-url')>Copy Image Link</button>">

    <img src="{{image.image_path.url}}" alt="{{image.name}}">
    </a>

    </div>
    {% endfor %}
    </div>
 
  </div>
</div>

</div>

{% endblock %}